[user]
  name = Chase Rogers
  email = mail@chaserogers.org

[github]
  user = chaserogers

[includeIf "gitdir:~/workspace/"]
  path = ~/workspace/.gitconfig

[alias]
  ci = commit
  co = checkout
  df = diff
  st = status
  br = branch
  unstage = reset HEAD
  amend = commit --verbose --amend
  lg = log

  lg-find = log --all --pretty=\"format:%Cgreen%H %Cblue%s\n%b%Creset\" --name-status --grep

  lg1 = log \
    --pretty=format:'%C(green bold)%h%Creset -%C(yellow bold)%d%Creset %s %C(blue bold)(%cr) %C(magenta bold)<%an>%Creset' \
    --abbrev-commit \
    --date=relative

  lgdf = log \
    --pretty=format:'%C(green bold)commit %H%Creset%C(yellow bold)%d%Creset\n%C(magenta bold)Author: %an <%ae>%Creset\n%C(blue bold)Date: %cd%Creset\n\n%B\n' \
    -p

[color]
  ui = auto

[credential]
  helper = osxkeychain

[pull]
  rebase = false

[diff]
  tool = vscode

[init]
  defaultBranch = main
