export PATH="/usr/local/opt/mysql@5.5/bin:$PATH"
export PATH="$PATH:$HOME/.my_scripts"
export VISUAL=vim
export EDITOR="$VISUAL"
export FZF_DEFAULT_COMMAND="rg --hidden --files"
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# matts whacky shit
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# bash deprecation warning
export BASH_SILENCE_DEPRECATION_WARNING=1
